# dependencies
/node_modules
/.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
web-build/

# build outputs
android/
ios/
dist/
build/

# Metro / bundler cache
.expo/
.expo-shared/
.expo/*
.expo-shared/*
.expo/web-build
.expo/packager-info.json
.expo/settings.json
.expo/metro-cache/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
expo-debug.log*

# editor files
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# environment
.env
